<div class="wrapper">
  <form [formGroup] = 'form' (ngSubmit) = 'onSubmit()'>
      <app-date-input [form] = 'form' [controlName] = '"StartDate"'></app-date-input>
      <hr>
      <app-date-input [form] = 'form' [controlName] = '"FinishDate"'></app-date-input>
      <button [style.marginTop] = "'1rem'"  type = 'submit'>Отправить</button>
  </form>

  <div *ngIf = 'isSubmit'> 
    <p>Время начала:  {{ StartDate }}</p>
    <p>Время окончания: {{ FinishDate }} </p>
    

    <pre> {{ SDate }} </pre>
    <pre> {{ FDate }} </pre>

  </div>


</div>
