<div class="wrapper"> 
    <form [formGroup] = 'timeForm'>
      <input 
        type="text"
        class="form-control"
        placeholder="Дата"
        formControlName = 'Date'
        (bsValueChange) = 'setDate($event)'
        bsDatepicker
      />

      <input 
        type="number"
        class="timepicker"
        #hoursRef
        formControlName = 'Hours'
        (ngModelChange) = 'setTime($event, "Hours", hoursRef)'
        (mousewheel) = 'wheelAction()'
      />

      <span>:</span>

      <input 
        type="number"
        class="timepicker"
        #minutesRef
        formControlName = 'Minutes'
        (ngModelChange) = 'setTime($event, "Minutes", minutesRef)'
        (mousewheel) = 'wheelAction()'
      />
    </form>
</div>


<!-- <input type="text" [formControl] = 'testControl' (focusin) = 'isTest = true' (focusout) = 'isTest = false'/> -->
