.wrapper {
    display: flex;
    justify-content: center;
}

.form-control {
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #4b1d86;
    outline: none;
}

.timepicker {
    display: inline-block;
    text-align: center;
    width: 25px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #4b1d86;
    outline: none;
}

span {
    margin: 0 .5rem
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}